<div class="weargnj__bundle mt-80">
  <div class="container-fluid">
      <div class="">
              <div class="row g-0">
              <div class="col-lg-6">
                  <div class="bundle__left">
                    {% for block in section.blocks %}
                      {% case block.type %}
                      {% when 'heading' %}
                      <div class="content">
                        <h3>
                            Save 18 when you bundle 2 <span>or more items!</span> 
                        </h3>                          
                      </div>
                      {% when 'description' %}
                      <div class="content">
                        <p>
                            Select 6 panties of your choice, add to cart, and enjoy up to 18% discount from your total amount.
                        </p>
                      </div>
                      {% when 'bundle_item' %}
                      <div class="content-bottom">
                          <span>Whats included</span>
                          <div class="included__item">

                              <div class="item">
                                  <div class="thumb" style="background-image: url(assets/img/offer/1.png);">
                                      <h6><a href="#">Thong</a></h6>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="thumb" style="background-image: url(assets/img/offer/2.png);">
                                      <h6><a href="#">Briefs</a></h6>
                                  </div>
                              </div>
                              <div class="item">
                                  <div class="thumb" style="background-image: url(assets/img/offer/3.png);">
                                      <h6><a href="#">Limited Edition</a></h6>
                                  </div>
                              </div>

                          </div>
                      </div>
                      {% endcase %}
                      {% endfor %}
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="bundle__right">
                      <div class="bundle__right__thumb">
                        {% if section.settings.main_img != blank %}
                          <img src="{{ section.settings.main_img | img_url:'original' }}" alt="bundle-image" height="590">
                        {% else %}
                          {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                          <a href="{{ section.settings.btn_url }}" class="common__btn fill__btn">{{ section.settings.btn_label }}</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% schema %}
  {
    "name": "Bundle Offer Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "main_img",
        "label": "Main Image"
      },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Button label",
        "default": "Build A Chick Bundle" 
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button url"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "html",
            "id": "heading",
            "label": "Heading",
            "default": "Save 18 when you bundle 2 <span>or more items!</span>"
          }          
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "rte",
            "label": "Description",
            "default": "<p>Select 6 panties of your choice, add to cart, and enjoy up to 18% discount from your total amount.</p>"
          }
        ]
      },
      {
        "type": "bundle_item",
        "name": "Bundle Item",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Whats included"
          },
          {
            "type": "header",
            "content": "Bundle items 1"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "Title",
            "default": "Thong"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Item image"
          },
          {
            "type": "url",
            "id": "url1",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Bundle items 2"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Title",
            "default": "Thong"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Item image"
          },
          {
            "type": "url",
            "id": "url2",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Bundle items 3"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "Title",
            "default": "Thong"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Item image"
          },
          {
            "type": "url",
            "id": "url3",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Bundle offer section"
      }
    ]
  }
{% endschema %}