{{ 'category-components.css' | asset_url | stylesheet_tag }}
<div class="weargnj__collection pt-5">
  <div class="container-fluid">
      <div class="row">
          <h1 class="best__seller__heading text-center heading mb-5">{{ section.settings.title | default:'Our Collections' }}</h1>
      </div>
      <div class="row">
          {% for block in section.blocks %}
            {% if block.settings.image != blank %}
              {% assign img = block.settings.image | image_url %}
            {% else %}
              {% assign img = 'https://cdn.shopify.com/s/files/1/0659/9196/6896/files/image-default.png?v=1729585373' %}
            {% endif %}
          <div class="col-lg-4">
              <div class="single__collection" style="background-image: url('{{ img }}');">
                  <div class="single__collection__brief">
                      <h2 class="collection__title">Thong</h2>
                      <form action="#">
                          <button type="submit" class="common__btn fill__btn">Shop Brief</button>
                      </form>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Category Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Our Collections"
      }
    ],
    "blocks": [
      {
        "type": "category",
        "name": "Category",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Category Section",
        "blocks": [
          {
            "type": "category"
          },
          {
            "type": "category"
          },
          {
            "type": "category"
          }
        ]
      }
    ]
  }
{% endschema %}