<div class="weargnj__testimonial py-5 mt-20">
    <div class="contianer-fluid">
        <div class="row">
            <h3 class="mb-5 text-center">{{ section.settings.heading }}</h3>
        </div>
        <div class="row">
            <div class="repeat__customer overflow-hidden">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="{{ block.settings.poster | img_url:'large' }}" alt="Review video">
                                <div class="play__icon">
                                    <a href="{{ block.settings.video_url }}" data-lightbox="{{ block.settings.video_url }}">
                                        {% render 'icons', icon: 'play-btn' %}
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-4">
                <button class="common__btn fill__btn black__btn">Read More Reviews</button>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Customer Video Review",
    "settings": [
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
        "default": "98 <span class='percent'>%</span> customers would buy again"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "poster",
            "label": "Poster Image"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video Url",
            "accept": [
              "vimeo",
              "youtube"
            ],
            "info": "Accepted: vimeo, youtube"
          },
          {
            "type": "select",
            "id": "rating",
            "label": "Rating",
            "options": [
              {
                "label": "1",
                "value": "1"
              },
              {
                "label": "2",
                "value": "2"
              },
              {
                "label": "3",
                "value": "3"
              },
              {
                "label": "4",
                "value": "4"
              },
              {
                "label": "5",
                "value": "5"
              }
            ],
            "default": "5"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customer Video Testimonial",
        "blocks": [
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          },
          {
            "type": "testimonial"
          }
        ]
      }
    ]
  }
{% endschema %}