<div class="weargnj__testimonial py-5 mt-20">
    <div class="contianer-fluid">
        <div class="row">
            <h3 class="mb-5 text-center">{{ section.settings.heading }}</h3>
        </div>
        <div class="row">
            <div class="repeat__customer overflow-hidden">
                <div class="swiper-wrapper">

                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/1.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->
                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/2.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->
                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/3.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->
                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/4.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->
                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/5.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->
                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/1.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->
                    <!-- single testimonial -->
                    <div class="swiper-slide">
                        <div class="testimonial__content">
                            <div class="author__thumb">
                                <img src="assets/img/testimonial/1.png" alt="">
                                <div class="play__icon">
                                    <a href="https://www.youtube.com/watch?v=9bZkp7q19f0" data-lightbox="">
                                        <img src="assets/icons/play-btn.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="testimonial__content__meta">
                                <div class="flex">
                                    <span class="author__title">Jennifer L</span>
                                    <div class="rating">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                        <img src="assets/icons/rating.svg" alt="">
                                    </div>
                                </div>
                                <p class="testimonial__text">
                                    Allow an average of 3/5 working days to receive your package in mainland.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- single testimonial end -->

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center mt-4">
                <button class="common__btn fill__btn black__btn">Read More Reviews</button>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "Customer Video Review",
    "settings": [
      {
        "type": "html",
        "id": "heading",
        "label": "Heading",
        "default": "98 <span class='percent'>%</span> customers would buy again"
      }
    ],
    "blocks": [
      
    ]
  }
{% endschema %}