<div class="weargnj__faq">
    <div class="container-fluid">
        <div class="">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq__left">
                      {% if section.settings.image != blank %}
                        <img src="{{ section.settings.image | img_url:'large' }}" alt="Faq image" height="676">
                      {% else %}
                        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq__right">
                      
                        <div class="faq__header">
                            <h3>Underwear should feel as good as it looks</h3>
                            <p>
                                We see our intimates as the starting point for all your greatest outfits, so they need to look and feel superior.
                            </p>
                        </div>
                        <div class="faq__bottom">
                            <ul>
                              {% for block in section.blocks %}
                                <li class="item">
                                  {% if block.settings.icon != blank %}
                                    {% render 'icons', icon: block.settings.icon %}
                                  {% endif %}
                                    <span>{{ block.settings.text }}</span>
                                </li>
                              {% endfor %}                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Underwear should feel as good as it looks"
      },
      {
        "type": "richtext",
        "id": "rte",
        "label": "Description",
        "default": "<p>We see our intimates as the starting point for all your greatest outfits, so they need to look and feel superior.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Main image"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ Content",
        "settings": [
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "options": [
              {
                "label": "Climate",
                "value": "climate"
              },
              {
                "label": "Modal",
                "value": "modal"
              },
              {
                "label": "Style",
                "value": "style"
              },
              {
                "label": "Quality",
                "value": "quality"
              }
            ],
            "default": "modal"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Made from sustainably produced LENZING™ Modal"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Section",
        "blocks": [
          {
            "type": "faq"
          },
          {
            "type": "faq"
          },
          {
            "type": "faq"
          },
          {
            "type": "faq"
          }
        ]
      }
    ]
  }
{% endschema %}