<div class="footer-section">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        {% for block in section.blocks %}
          <div class="col-md-6"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Footer",
    "enabled_on": {
      "groups": ["footer"]
    },
    "settings": [],
    "blocks": [
      {
        "type": "footer-menu",
        "name": "Footer Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "information",
        "name": "Information",
        "settings": [
          {
            "type": "html",
            "id": "information",
            "label": "Select Menu"
          }
        ]
      },
      {
        "type": "newsleter",
        "name": "Newsleter",
        "settings": [
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Brand logo"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Join thousands who love our products. 98% would buy again!</p>"
          },
          {
            "type": "checkbox",
            "id": "enable_newsleter",
            "label": "Enable Newsleter",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}