<style>
    .navbar-nav {
      flex: 1;
    }
    .navbar-brand {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
</style>
<div class="header-area container-full">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar brand (logo) in the center -->
      <a class="navbar-brand" href="#">Your Logo</a>
  
      <!-- Navbar links and dropdown -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% schema %}
{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}