{% style %}
  #{{ section.id }}{
    padding-top: {{ section.settings.padding_top | append: 'px'}};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
  }
{% endstyle %}
<div class="banner-section" id="{{ section.id }}">
  Banner
</div>

{% schema %}
{
  "name": "Banner",
  "class": "main-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner image"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "html",
          "id": "title",
          "label": "Heading",
          "default": "Purposefully Crafted <span>Designed for you</span>"
        }
      ]
    },
    {
      "type": "rte",
      "name": "Description",
      "settings": [
        {
          "type": "html",
          "id": "rte",
          "label": "Heading",
          "default": "Purposefully Crafted <span>Designed for you</span>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Buttons",
      "settings": [
        {
          "type": "header",
          "content": "Button 1"
        },
        {
          "type": "text",
          "id": "btn1_label",
          "label": "Button 1 label",
          "default": "Shop the collection"
        },
        {
          "type": "header",
          "content": "Button 2"
        },
        {
          "type": "text",
          "id": "btn2_label",
          "label": "Button 2 label",
          "default": "Build a Bundle"
        }
      ]
    }
  ]
}
{% endschema %}