{% style %}
  #quality_{{ section.id }}{
    padding-top: {{ section.settings.padding_top | append: 'px'}};
    padding-bottom: {{ section.settings.padding_bottom | append: 'px'}};
  }
{% endstyle %}
<div class="quality-section" id="quality_{{ section.id }}">
  Quality Section
</div>
{% schema %}
  {
    "name": "Quality Section",
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 30
      }
    ]
  }
{% endschema %}